
@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/JetBrainsMono-Medium.ttf");
}

:root {
  /*  !* Default color shades *!*/
  /*--md-default-fg-color:               rgb(57, 217, 147);*/
  /*--md-default-fg-color--light:        rgb(57, 217, 147);*/
  /*--md-default-fg-color--lighter:      rgb(57, 217, 147);*/
  /*--md-default-fg-color--lightest:     rgb(57, 217, 147);*/
  /*--md-default-bg-color:               rgb(57, 217, 147);*/
  /*--md-default-bg-color--light:        rgb(57, 217, 147);*/
  /*--md-default-bg-color--lighter:      rgb(57, 217, 147);*/
  /*--md-default-bg-color--lightest:     rgb(57, 217, 147);*/

    /* Primary color shades */
  --md-primary-fg-color: rgb(57, 217, 147);
  --md-primary-fg-color--light:        rgb(97, 225, 160);
  --md-primary-fg-color--dark:         rgb(63, 174, 118);
  /*--md-primary-bg-color:               rgb(57, 217, 147);*/
  /*--md-primary-bg-color--light:        rgb(57, 217, 147);*/

  /*   !* Accent color shades *!*/
  /*--md-accent-fg-color:                rgb(57, 217, 147);*/
  /*--md-accent-fg-color--transparent:   rgb(57, 217, 147);*/
  /*--md-accent-bg-color:                rgb(57, 217, 147);*/
  /*--md-accent-bg-color--light:         rgb(57, 217, 147);*/

  /*!* Code block color shades *!*/
  /*--md-code-bg-color:                  rgb(57, 217, 147);*/
  /*--md-code-fg-color:                  rgb(57, 217, 147);*/

}

p{
  font-size: 16px;
}


/*h1{*/
/*  background-color: #5863F8;*/
/*  padding-left: 10px;*/
/*  padding-bottom: 3px;*/
/*  border-radius: 6px;*/
/*}*/

h1{
  background: linear-gradient(90deg, rgba(88,99,248,1) 0%, rgba(57,217,147,0) 100%);
  border-top: 3px solid #5863F8;
  padding: 8px;
  padding-left: 15px;
}
h2{
  padding-top: 4px;
  color: rgb(97, 225, 160);
}
h3{
  padding-top: 25px;
}

.md-header{
  height: 60px;
  background: linear-gradient(90deg, rgba(25,158,112,1) 0%, rgba(49,216,144,1) 41%, rgba(49,216,144,1) 100%);
  /*border-top: 3px solid #5863F8;*/
}
.md-header-nav__topic{
  text-shadow: rgba(10,10,10,0.25) 1px 0 10px;
  font-size: 25px;
  /*font-weight: bold;*/
  /*font-family: "JetBrains Mono";*/
}

.md-tabs{
  background: linear-gradient(90deg, rgba(88,99,248,1) 0%, rgba(57,217,147,1) 100%);
}

.md-content{
  border-left: 2px solid #434755;
  margin-bottom: 8px;
}

/* doesnt work ?*/
thead{
  background: rgba(10,10,10,1);
}

/*  background: linear-gradient(90deg, rgba(88,99,248,1) 0%, rgba(88,99,248,1) 3%, rgba(255,200,87,1) 3%,*/
/*rgba(255,200,87,1) 6%, rgba(209,73,91,1) 6%, rgba(209,73,91,1) 9%, rgba(57,217,147,1) 9%, rgba(57,217,147,1) 82%);*/
/*.md-typeset .admonition.example{*/
/*  border-color: red;*/
/*}*/